
.list-table{
    width: 100%;
    border: 2px solid black;
}
.list-table-format{
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}
.food-list-header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
}
.list-table-format.title{
    background-color: #f9f9f9;
}
.list-table-format img{
    width: 50px;
}
.cursor{
    display: flex;
    justify-content: center;
    width: 20px;
    font-size: large;
    cursor: pointer;
}
@media(max-width:600px){

    .list-table-format{
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;
    }
    .list-table-format.title{
        display: none;
    }
}